@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.light-container {
    background-color : white;
    color: rgb(50, 50, 50);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dark-container {
    background-color : rgb(50, 50, 50);
    color: white;
}

.title-row {
    padding-top: 2%;
    margin-bottom: 2%;
}

.subtitle-container {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    /*background-color : rgb(50, 50, 50);
    color: white;*/
}

.subtitle-row {
    margin-bottom: 2% !important;
    /*background-color : rgb(50, 50, 50);
    color: white;*/
}

.title-centered {
    text-align: center;
}

.textarea-padding {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

.table-padding {
    padding-left: 25% !important;
    padding-right: 25% !important;
}

.contact-row {
    padding-left: 40% !important;
    padding-right: 40% !important;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contact-cols {
    text-align: center;
}

.certification-img {
    width: 200px;
    height: 200px;
}